<div id="panel" class="oj-margin" style="border: 1px solid">
  <div id="header" class="oj-flex oj-panel oj-flex-bar">
	  <div class="oj-flex-start" >This is the title</div>
	  <div class="oj-flex-item"></div>
	  <div class="oj-flex-end oj-panel-alt1 oj-margin-start">
		  <i class="fa fa-arrows-v oj-margin-start oj-padding-horizontal hoverable" data-bind="click: collapse"></i>
		  <i class="fa fa-close oj-padding-horizontal hoverable" data-bind="click: close"></i>
	  </div>
  </div>
  <div id="collapsableContent" style="width: 300px;">
    <h1>{{val}}</h1>
  </div>
</div>