<div id="panel" class="oj-margin oj-sm-flex-items-1 oj-flex-sm-1" style="border: 1px solid;">
  <div id="header" class="oj-flex oj-panel oj-flex-bar oj-sm-flex-wrap-nowrap">
	  <div class="oj-flex-start oj-sm-flex-wrap-nowrap" >This is the title</div>
	  <div class="oj-flex-item"></div>
	  <div class="oj-flex-end oj-panel-alt1 oj-margin-start oj-sm-flex-wrap-nowrap">
		  <i id = "min-max-icon" class="fa oj-padding-horizontal hoverable" 
			 data-bind="click: collapse,
						css: {'fa-chevron-circle-down': collapsed(),
							  'fa-chevron-circle-up':!collapsed()}"></i>
		  <i class="fa fa-close oj-padding-horizontal hoverable" data-bind="click: close"></i>
	  </div>
  </div>
  <div id="collapsableContent" style="width: 300px;">
    <h1>{{val}}</h1>
  </div>
</div>